body {

  background-image: url('../img/backdrop.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -1;
}

.homepage-container {
    margin-top: 10% !important;
}

.contact-area {

    margin-top: 10% !important;
}

.info-item {
    font-size: larger;
}

@media only screen and (max-width: 959px) {
    body:before {
        background-image:url("../img/backdrop.png"); 
        background-position:center; 
        background-attachment:scroll; 
        -o-background-size:cover; 
        -moz-background-size:cover; 
        -webkit-background-size:cover; 
        background-size:cover; 
        background-repeat:no-repeat; 
        }
    }