body {

  background-image: url('../img/backdrop.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -1;
}

.homepage-container {
    margin-top: 10% !important;
}

.contact-area {

    margin-top: 10% !important;
}

.info-item {
    font-size: larger;
}